.AddNewKid {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.MenuBtns {
  padding: 10px;
  margin-left: 5px;
}
.Timer {
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.AddnNewKidGrid {
  margin-top: 10px;
  padding: 10px;
}
